.boxx{
    height:249px;
    max-width:100% ;
    background-color: rgb(243, 240, 237);
    display:flex ;
    border-radius:79px 5px 5px 79px ;
}

.boximg img{
    height:249px;
    max-width:249px;
    background-color:bisque;
    margin-left:5px;
    object-fit:cover;
    border-radius:75px;
}

.boxinfo{
    height:244px;
    width:100% ;
    background-color:rgb(243, 240, 237);
    margin-top:5px;
    margin-left:25px;
}
p1{
    margin-left:25px ;
    font-size:23px ;
    font-weight:bold ;
}
p2{
    font-size:18px ;
    font-weight: bold;
    margin-left:25px ;
}
a,p{
    margin-left:25px ;
}
h4{
        text-align: center;
        margin-top:15px;
        font-size:19px ;

}
li{
    text-align: left;
    margin-left:5px ;
}
.secondline{
    display: flex;
    height:549px;
    width:100% ;
    background-color:white;
    margin-top:25px ;
    border-radius:15px 0px 15px 0px ;
    }
.skill{
    height:549px;
    width:278px ;
    background-color: rgb(190, 197, 187);
    border-radius:0px 19px 0px 19px;
    text-align:center; 
}
.plang{
    text-align:start ;
    font-weight: bold;
    font-size:15px ;
}
.profile{
    height:549px;
    width:100% ;
    background-color:antiquewhite;
    display: inline;
    border-radius:9px 12px 12px 9px ;
}
.project{
    height:35px ;
    width:193px;
    background-color: rgb(231, 216, 196);
    border-radius:13px ;
    text-align: center;
    margin-left:49% ;
    display: grid;
    place-items:center ;
    box-shadow:5px 5px 7px goldenrod,-5px -5px 7px goldenrod ;
    font-weight:bolder;
    font-size:18px ;
}
.project:hover{
    background-color: rgb(228, 234, 232);
    box-shadow:5px 5px 7px rgb(139, 199, 230),-5px -5px 7px rgb(97, 118, 133) ;
}
.profilebox:hover{
    background-color: rgb(228, 234, 232);
    box-shadow:5px 5px 7px rgb(139, 199, 230),-5px -5px 7px rgb(97, 118, 133) ;
}
.educationbox:hover{
    background-color: rgb(228, 234, 232);
    box-shadow:5px 5px 7px rgb(139, 199, 230),-5px -5px 7px rgb(97, 118, 133) ;
}
.name{
    width:fit-content ;
    border-radius:11px ;
    font-size:18px ;
    font-style: italic;
    font-weight: bold;
    height:25px;
}
.name:hover{
    box-shadow:5px 5px 7px rgb(230, 159, 213),-5px -5px 7px rgb(220, 87, 211) ;
    width:fit-content ;
    display: grid;
    place-items:center ;
}
ol{
    display: flex;
    justify-content:space-between;
}
hr{
    height:3px ;
}
.profilebox{
    height:35px ;
    width:193px;
    background-color: rgb(231, 216, 196);
    border-radius:13px ;
    text-align: center;
    display: grid;
    place-items:center ;
    margin-left:129px ;
    box-shadow:5px 5px 7px goldenrod,-5px -5px 7px goldenrod ;
    font-weight: bold;
    font-size:19px ;
}
.educationbox{
    height:35px ;
    width:193px;
    background-color: rgb(231, 216, 196);
    border-radius:13px ;
    text-align: center;
    display: grid;
    place-items:center ;
    margin-left:129px ;
    box-shadow:5px 5px 7px goldenrod,-5px -5px 7px goldenrod ;
    font-weight: bold;
    font-size:19px ;
}
